/local.properties
/build/
/captures/
.idea/
.directory
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.externalNativeBuild/
.gradle/
.cxx/
._*
*/build/
*.mp4
*.mov
*.wav
*.psd
*.ai
*.iml
*.iws
*.ipr
*.iml
*.iws
*.ipr
*.iml
*.iws
*.ipr
*.apk
*.aab
*.ap_
*.jks
*.keystore
*~
google-services.json
ehthumbs.db
Thumbs.db
